<!DOCTYPE html>
<html>
  <head>
    <title>RailsSimpleAirbnb</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="nav-bar">
      <div class="logo">
        <h2><%= link_to "AirBnB", flats_path, class: "links", style: " margin-left: 192px; text-shadow: 3px 1px #9b939378;" %></h2>
      </div>
    </div>



    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
